{% extends "base.html.twig" %}

{% block body %}

    <h1>{{ title }}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-primary" role="alert">
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ex, assumenda, voluptate quidem molestiae nesciunt eius voluptatibus quos numquam quasi placeat repellat natus sapiente ad voluptates debitis repudiandae cumque officiis!</p>
                </div>
            </div>
        </div>
        <div  class="alert alert-success" role="alert">
            <div class="row">
                <div class="col-sm">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatum inventore nemo odio ea. Corporis, totam, unde, accusamus quasi sequi blanditiis ratione voluptates delectus molestiae deserunt rerum impedit illo repellendus!</p>
                </div>
            </div>
        </div>
    {% endblock %}